* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    margin-top: 63px;
    display: flex;
}

.logo {
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.color-text {
    color: #4BCAFF;
}

.nav {
    height: 72px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
}

.nav-link {
    height: 72px;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;   
}

.nav-link:hover {
    background: #222F3A;
}

.nav-link-first {
    margin-left: 40px;
    padding: 26px 33px 19px 32px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav-link-second {
    padding: 26px 38px 19px 38px;
    border-right: 1px solid white;
}

.nav-link-third {
    padding: 26px 40px 19px 40px;
    border-right: 1px solid white;
}

.nav-link-fourth {
    padding: 26px 35px 19px 40px;
    border-right: 1px solid white;
}

.main-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.aside {
    display: flex;
}

.aside-nav {
    display: flex;
}

.nav-menu {
    width: 344px;
    height: 399px;
    margin-top: 48px;
    padding: 0;
    font-size: 27px;
    line-height: 27px;
    list-style-type: none;
    border: 1px solid;
    border-top-color: rgba(0,0,0,0.1);
    border-right-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.1);
    border-left-color: rgba(0,0,0,0.1);
    overflow: hidden;
    
}

.nav-menu-link { 
    width: 342px; 
    text-decoration: none;
    color: #495863; 
}

.nav-menu-link:hover {
    background: #DBDBDB;
    color: #000000;

}

.nav-menu li {
    display: flex;
}

.menu-link-first {
    padding: 26px 0 25px 44px;
}

.menu-link-second {
    padding: 27px 0 27px 44px;
}

.menu-link-third {
    padding: 27px 0 27px 44px;
} 

.menu-link-fourth {
    padding: 27px 0 27px 44px;
}

.menu-link-fifth {
    padding: 27px 0 25px 44px;
}

.main-img {
    width: 885px;
    height: 529px;
    margin-top: 48px;
    border: 1px solid;
    border-top-color: rgba(0,0,0,0.1);
    border-right-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.1);
    border-left-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.main-text {
    display: flex;
    flex-direction: row-reverse;
}

.main-context {
    width: 885px;
    align-items: center;
}

.text-one {
    width: 885px;
    height: 120px;
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.text-two {
    margin-top: 34px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.container-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-footer {
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-around;
    background: rgba(99, 105, 110, 0.48);
}

.nav-menu-footer {
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-footer a {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.nav-menu-footer a:hover {
    padding-bottom: 13px;
    opacity: 0.7;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;  
}


.copyright {
    width: 190px;
    display: flex;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
